.nav-vertical-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-vertical-button:hover {
    background-color: var(--primary-color);
    cursor: pointer;
    border-radius: 10px;
}

.task-image {

}

.task-description {
    font-weight: bolder;
}