:root {
    --navbar-bg: #333;
    --navbar-text: #fff;
}

.navbar {
  background-color: var(--navbar-bg);
  padding: 1em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  height: 75px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.navbar-title {
  font-size: 1.8em;
  color: var(--navbar-text);
}

.navbar-menu {
  list-style: none;
  display: flex;
  gap: 1em;
}

.navbar-menu li {
  display: inline;
}

.navbar-menu a {
  text-decoration: none;
  color: var(--navbar-text);
  font-weight: bold;
  transition: color 0.3s;
}

.navbar-menu a:hover {
  color: var(--navbar-btn-bg);
}


@media (max-width: 768px) {
  .navbar-title {
    font-size: 1em;
  }
}
