.dashboard {
    background-color: var(--primary-color);
    position: absolute;
    left: 150px;
    width: calc(100% - 150px);
    height: calc(100vh - 70px);
    
}

.dashboard-heading {
    padding-left: 4%;
    margin: 10px 0;
    
}

.all-task {
    padding: 20px;
}