:root {
    --gradient-color: linear-gradient(218deg, rgba(149,80,171,1) 0%, rgba(155,176,217,1) 47%, rgba(29,198,219,1) 96%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    background: rgb(149,80,171);
    background: var(--gradient-color);
    min-width: 100vw;
    min-height: 100vh;
}

a {
    text-decoration: none;
}