:root {
    --primary-color: #6deb2a;
    --tertiary-color: #12661c;
    --background-color: #f0f0f0;
    --text-color: #333333;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-color);
}


